.cabecera
{
	font-family:normal;
    text-align:center;
    font-style: normal;
}

.titulo
{
	font-family:Courier;
    text-align:center;
    height: 50px;
    font-style: italic;
}

.fondoblue
{
    background-color: blue;
    
}

.centrado
{
    text-align:center;
}